@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
.primary-color{
    color: rgba(253, 110, 10, 1);
}
.primary-btn{
    border-radius: 5px;
    background-color: rgba(253, 110, 10, 1);
    color: rgba(255, 255, 255, 1);
    padding:18px 35px;
    font-weight:bolder;
    border: none;
    font-size: 20px;
    font-family: Open Sans;
}

header{
    background-image: url('/assets/developer.png'),url('/assets/header_bg.png');
    background-repeat:no-repeat;
    background-position: top left, bottom right;
    margin-left: 20px;
      
}
/* Nav bar css started */
.single{
   color:rgba(253, 110, 10, 1);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 200px;

}
nav ul{
    display: flex;
    gap: 60px;
    list-style: none;
    align-items: center;
}
.nav-title{
font-family: Open Sans;
font-style: ExtraBold;
font-size: 45px;
font-weight: 800;
line-height: 61px;
letter-spacing: 0%;
text-align: left;
}
nav li>a{
text-decoration: none;
color: rgba(71, 71, 71, 1);
font-family: Open Sans;
font-style: Regular;
font-size: 20px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0%;
text-align: left;
}

/* Banner Styles Start */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-subtitle{
color: rgba(71, 71, 71, 1);
font-family: Open Sans;
font-style: SemiBold;
font-size: 45px;
font-weight: 600;
letter-spacing: 0%;
text-align: left;

}
.banner-title{
color: rgba(24, 24, 24, 1);

font-family: Open Sans;
font-style: Bold;
font-size: 65px;
font-weight: 700;
letter-spacing: 0%;
text-align: left;
}
.banner-desc{
color: rgba(117, 117, 117, 1);

font-family: Open Sans;
font-style: Regular;
font-size: 15px;
font-weight: 400;
letter-spacing: 0%;
text-align: left;
margin-bottom: 10px;
}
.banner-btn{
box-sizing: border-box;
border: 1px solid rgba(253, 110, 10, 1);
border-radius: 5px;
color: rgba(253, 110, 10, 1);
padding:18px 35px;
font-size: 20px;
font-weight:800;
}
.ban-btn{
    display: flex;
    gap: 20px;
}
.icon img{
    width: 24px;
    height: 24px;
    margin-top: 10px;
}
.banner-content{
   width: 585px;
   height: 356px; 
   margin-left:200px ;
}
.banner >img{
    margin-right: 38px;
}

/* Banner Styles Start */


/* About Section Start */
.about{
    width:1140px ;
    height: 550px;
background: rgba(255, 248, 243, 1);
margin: auto;
margin-top: 130px;
display: flex;
flex-direction: column;
justify-content: center;
}
.about-desc{
    display: flex;
    flex-direction: column;
text-align: center;
width: 827px;
margin:0 auto;
}
.about-title{
    color: rgba(24, 24, 24, 1);

font-family: Open Sans;
font-style: Bold;
font-size: 35px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: center;
}
.about-paragraph{
  color: rgba(117, 117, 117, 1);

font-family: Open Sans;
font-style: Regular;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: center; 
}
.information{
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    text-align: center;
    margin-top: 80px;
}
.info-title{
color: rgba(117, 117, 117, 1);
font-family: Open Sans;
font-style: Regular;
font-size: 20px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: center;
}
.info-desc{
font-family: Open Sans;
font-style: Regular;
font-size: 20px;
font-weight: 600;
line-height: 30px;
letter-spacing: 0%;
text-align: center;
}
/* About Section End */


 /* What I DO section Start */

.whatido{
    margin:130px 230px ;
}
.what-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.what-title{
    color: rgba(24, 24, 24, 1);

font-family: Open Sans;
font-style: Bold;
font-size: 35px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: center;
}
.what-paragraph{
    color: rgba(117, 117, 117, 1);

font-family: Open Sans;
font-style: Regular;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: center;
}

.what-card{
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.cards img{
        width: 44px;
    height: 44px;
    margin-top: 10px;
}
.cards{
    border:2px solid ;
}
.card-title{
  color: rgba(24, 24, 24, 1);

font-family: Open Sans;
font-style: Bold;
font-size: 20px;
font-weight: 700;
line-height: 27px;
letter-spacing: 0%;
text-align: center;  
}
.card-description{
  color: rgba(117, 117, 117, 1);

font-family: Open Sans;
font-style: Regular;
font-size: 16px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0%;
text-align: left;  
}
 /* What I DO section Start */
